*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background:#0d0d0d;
    color:white;
    max-width:700px;
    margin:auto;
}

header{
    text-align:center;
    padding:30px 20px;
}

.logo{
    width:120px;
    margin-bottom:15px;
}

header h1{
    color:#f1c40f;
    font-size:2.2rem;
}

header p{
    color:#aaa;
    margin-top:10px;
}

section{
    padding:20px;
}

h2{
    margin-bottom:15px;
    color:#f1c40f;
}

.next-game-card,
.jornada-card{
    background:#171717;
    border-left:5px solid #f1c40f;
    border-radius:12px;
    padding:20px;
    margin-bottom:15px;
}

.equipas{
    font-size:1.4rem;
    font-weight:bold;
    margin:15px 0;
}

.info{
    color:#ccc;
    margin:6px 0;
}

.resultado{
    color:#f1c40f;
    font-size:2rem;
    font-weight:bold;
    margin:10px 0;
}

button{
    width:100%;
    background:#f1c40f;
    color:black;
    border:none;
    padding:12px;
    margin-top:10px;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
}

.detalhes{
    display:none;
    margin-top:15px;
    border-top:1px solid #333;
    padding-top:15px;
}

.detalhes.active{
    display:block;
}

footer{
    text-align:center;
    padding:30px;
    color:#777;
}

ul{
    margin-left:20px;
    margin-top:10px;
}

li{
    margin-bottom:5px;
}

#countdown{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:15px;
    color:#f1c40f;
    font-weight:bold;
}

#countdown .time{
    text-align:center;
}

#countdown .value{
    display:block;
    font-size:1.6rem;
    line-height:1;
}

#countdown .label{
    display:block;
    font-size:.8rem;
}

.countdown-inline{
    text-align:center;
    color:#f1c40f;
    font-weight:bold;
    font-size:1.1rem;
    margin:10px 0 15px 0;
}

.separador {
    width: 80%;
    margin: 40px auto;
    border-top: 2px solid #f1c40f;
}



